<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <script src="/nowjs/now.js"></script>
    <script type="text/javascript">
   
     function runCode(){
       var codeArea = document.getElementById("code");
       var logArea = document.getElementById("output");
       //alert("executing .."+codeArea.value);
       logArea.value = "waiting for compiler......";
       now.compileCode(codeArea.value); 
    
     }
    
    function saveCode(){
      var filename = document.getElementById("filename").value;
      var code = document.getElementById("code").value;
      now.saveCode(filename,code);
    }

    function loadCode(){
      var filename = document.getElementById("filename").value;
      var code = document.getElementById("code");
      code.value = now.loadCode(filename);
    }

     now.receiveOutput = function(name, message){
       if(name != "msg")
          return;
       console.log(message);
            
       var logArea = document.getElementById("output");
       logArea.value = logArea.value + " \n  "+ message;

      }
     </script>
    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
      Welcome to RUSTC online compiler. <br>
      Please write code in following editor <br>

      <textarea rows="30" cols="80" id="code">
       import io::println;
	fn main()
	{
 		io::println("RUST is good....");
	}
	 <%= title %>
      </textarea>

     <br>
     <input type="button" value="Compile & Execute" id="run" onclick='runCode()' />
     <input type="text" value="mycode.rs" id="filename" />
        <input type="button" value="SaveMyCode" id="saveCpde" onclick='saveCode()' />
        <input type="button" value="loadFile" id="loadCode" onclick='loadCode()' />
    <br>
       <textarea rows="10" cols="80" id="output"> <%= env %>
      </textarea>
  </body>
</html>


